@model TryItOut.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "LoginDetails", name = "LoginDetails" }))
{
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group required">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group required">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            @Html.ValidationSummary(false)
        </div>
    </div>

    <input type="submit" value="Save" class="btn" />
    <input type="submit" value="Cancel" class="btn" name="btn" formaction="@(Url.Action("PersonCancel"))" formnovalidate="formnovalidate" />

}